:root {
    --fs: 15px;
    --ff: "Poppins";
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

html, body, .four-card {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
}

.four-card__title, .four-card__body__title, .four-card__text, .four-card__body__text {
    font-family: var(--ff);
}

.four-card__title, .four-card__body__title {
    text-align: center;
}

.four-card__title--lighter {
    color: var(--very-dark-blue);
    font-weight: unset;
    margin: 0 0 10px;
}

.four-card__title--bold {
    font-weight: var(--fw-600);
    margin: 0 0 10px;
}

.four-card__text {
    color: var(--very-dark-blue);
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    width: 340px;
}

.four-card__container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.four-card__body {
    border-radius: 10px;
    background-color: var(--very-light-gray);
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.1);
    padding: 0 20px 20px;
    margin: 0 auto 20px;
    max-width: 290px;
    width: 100%;
}

.four-card--cyan {
    border-top: 4px solid var(--cyan);
}

.four-card--red {
    border-top: 4px solid var(--red);
}

.four-card--orange {
    border-top: 4px solid var(--orange);
}

.four-card--blue {
    border-top: 4px solid var(--blue);
}

.four-card__body__text {
    color: var(--grayish-blue);
    font-size: 12px;
}

.four-card__body__img {
    position: relative;
    left: 75%;
}

@media screen and (min-width: 1000px){
    .four-card__container {
        flex-direction: row;
    }

    .four-card__body {
        margin: 0 15px 25px;
    }

    .four-card__body--stacked {
        display: flex;
        flex-direction: column;
    }

    .four-card--cyan, .four-card--blue {
        align-self: center;
    }

    .four-card__text {
        width: 540px;
    }
}
